/* body{
    background:url(img/body.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
} */

.room-modal-div{
  display:flex;
  flex-direction: column;
}

.divTwo{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.book-it{
  float: right;
}



.divBtnModal{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.innerModalBody{
  display:flex;
  justify-content: space-around;
  justify-content: space-between;
}

#table-modal-body{
  display:flex;
  flex-direction: column;
}

ul>li:hover{
    background-color: rgb(233, 156, 229);
}

#table-modal-body{
  display: flex;
  
}

.home-picture{
  background:url(img/body.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 580px;
    min-width: 600px;

}

.whole-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .backpic{
  background:url(img/cover.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    margin-top: 40px;
    min-height: 580px;

    
} */

.buttonClass{
  font-size: 30px;
  min-width: 90px;
  max-width: 250px;
  max-height: 170px;
  background-color: rgb(255, 177, 88);
}

.selekt-div{
  display: flex;
  justify-content: space-around;
}

#book-it{
  display:flex;
  justify-content: center;
}

.button-container{
  display: flex;
  height:auto;
  justify-content: space-between;
  justify-content: space-around;

  
}


.title{
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 60px;
  color: rgb(233, 156, 229);
  font-weight: 500;
}

.wrapper {

  max-width: auto;

}

.test{
  max-width: auto;
  height: 300px;
  background-color: white;
}

.container{
  margin-top: 4%;
  display:flex;

}


.modal-input{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}

#user-button{
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  border:none;
}

#log-in{
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  border:none;
}

@media only screen and (max-width: 320px) {

  body { 
     font-size: 2em; 
  }

}